<div class="container">
  <h2 class="text-center">User info</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
          <p class="text-secondary text-center">{{post}}</p>
        </div>
        <div class="col-md-8">
          <p>
            <a class="float-left" href=""><strong>Mark markovic</strong></a><br>
            <a class="float-left">Mark markovic</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
