<div class="container">
  <h2 class="text-center">User info</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p class="text-secondary text-center"><strong>{{user?.name}}</strong></p>
          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        </div>
        <div class="col-md-8">
          <p>
            <a class="float-left" href="">Name: <strong>{{user?.name}}</strong></a><br>
            <a class="float-left">Username: {{user?.username}}</a><br>
            <a class="float-left">Email: {{user?.email}}</a><br>
            <a class="float-left">Phone: {{user?.phone}}</a><br>
            <a class="float-left">Website: {{user?.website}}</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
