.main {
  min-height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.col {
  height: calc(100vh - 327px);
  overflow: auto;
}
.col-info {
  height: 35vh;
}
.col-details {
  height: 25vh;
}
