<div class="container-fluid">
  <div class="row">
    <div class="col col-md-8">
      <div class="row row-view">
        <div class="col-md-5">
          <div class="col-info"><app-post-user-info></app-post-user-info></div>
          <div class="col-details"><app-post-details></app-post-details></div>
        </div>
        <div class="col-md-7">
          <div class="col-details"><app-post-comments></app-post-comments></div>
        </div>
        <div class="right-align">
          <button class="primary edit-post-button" (click)="editPost()">Edit post</button>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <app-latest-comments></app-latest-comments>
    </div>
  </div>
</div>
